In [ ]:
# Stephanie McKenzie
# March 2, 2023
# ISM4300
#Deliverable 7

In [43]:
import pandas as pd

In [46]:
n = int(input("Enter a non-negative integer number: "))

if n < 0: print("Incorrect entry. Number must be greater than 0.")

Enter a non-negative integer number: 19

In [47]:
even = []
odd = []
fibo= [0,1]
for i in range(n):
  even.append(2*i)
  odd.append(2*i+1)
  if i > 1: fibo.append(fibo[i-2]+fibo[i-1])

In [48]:
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37]

In [49]:
even

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36]

In [50]:
results = pd.DataFrame({'Even':even, 'Odd':odd, 'Fibonacci':fibo})
results

    Even  Odd  Fibonacci
0      0    1          0
1      2    3          1
2      4    5          1
3      6    7          2
4      8    9          3
5     10   11          5
6     12   13          8
7     14   15         13
8     16   17         21
9     18   19         34
10    20   21         55
11    22   23         89
12    24   25        144
13    26   27        233
14    28   29        377
15    30   31        610
16    32   33        987
17    34   35       1597
18    36   37       2584